ubody{
    margin: 0,
  }
  .navbar {
    background-color: #ffffff !important;
    padding-top: 1rem; 
    padding-bottom: 1rem;
  }
  .navbar .nav-link {
    transition: ease-in-out 0.2s;
  }
  .navbar .navbar-brand {
    transition: ease-in-out 0.2s;
  }
  .navbar .nav-link.active, .navbar .nav-link:hover, .navbar .navbar-brand:hover {
    color: rgb(64, 0, 255); 
  }

  .navbar-toggler {   
    color: #070707; 
    border: 1px solid #000000; 
    transition: ease-in-out 0.2s;
  }
  
  .navbar-toggler:hover,
  .navbar-toggler:focus {
    color: #070707; 
    border: 1px solid rgb(64, 0, 255); 
    outline: none; 
  }
  
  .navbar-toggler:focus, .navbar-toggler:active { 
    outline: none; 
    box-shadow: none; 
  }
  
  .bg-gradient-primary-to-secondary {
    background: linear-gradient(45deg, #1924c6, #007bff) !important;
  }
  aside, section {
  padding-top: 5rem;
  padding-bottom: 5rem;
  }
  footer a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
  }
  footer a:hover, footer a:active, footer a:focus {
    color: rgb(64, 0, 255);
    text-decoration: none;
  }
  .display-1 {
    font-size: calc(1.625rem + 4.5vw);
    font-weight: 300;
    line-height: 1.2;
  }
  @media (min-width: 1200px) {
    .display-1 {
        font-size: 5rem;
    }
  }
  #mainTop {
    padding-top: 5rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  .button_feedback {
    padding: 10px 25px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.33s;
  }
  .button_feedback:hover {
    background-color: #000000; 
}

.emoji-container {
  display: flex;
  justify-content: center;
  overflow-x: auto; 
  -ms-overflow-style: none;  
  &::-webkit-scrollbar {
      display: none;
  }
}

.emoji-container .form-check {
  flex: 0 0 auto;
  margin: 0 10px;
}

.emoji-container .form-check-input {
  display: none; 
}

.emoji-container .form-check-label {
  font-size: 2rem;  
  cursor: pointer;
}


.form-control {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ced4da;
  border-radius: 10px;
  margin-bottom: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  background-color: #f7f7f7;
}

.search{
  margin-top: -30px;
}

.card {
  width: 300px; 
  height: 450px;
  min-height: 200px; 
  margin-left: 50px;
  margin-right: 50px;
  border: 1px solid #dee2e6;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  overflow: hidden; 
  transition: transform 0.2s ease-in-out; 
}

.reviewer-card:hover {
  transform: translateY(-5px);
}

.reviewer-img {
  width: 100%;
  height: auto;
  max-height: 35%; 
  object-fit: cover; 
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 1.25rem; /* Adjust font size */
  margin-bottom: 10px;
}

.card-text {
  color: #6c757d; /* Medium gray text */
}

.btn-primary {
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin-top: 10px;
  border-radius: 5px;
}

.btn-primary:hover {
  background-color: #0056b3;
}



